* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #141625;
  }
  
  .container {
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar elementos horizontalmente */
}
  
  .header__title {
    color: #ffffff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .form__title {
    color: #826fe9;
    font-size: 16px;
  }

  .form__title_list {
    color: #cdc8ea;
    font-size: 22px;
  }
  
  .form__label {
    color: #ffffff;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
  }
  
  .form__input {
    width: 100%;
    border: none;
    padding: 12px 8px;
    border-radius: 4px;
    background-color: #1f213a;
    color: #ffffff;
  }
  
  .form__input::placeholder {
    color: #70758b;
  }
  
  .form__group {
    display: flex;
    gap: 32px;
  }
  
  .form__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  
  .form__button {
    border: none;
    background-color: red;
    color: #ffffff;
    padding: 16px;
    min-width: 130px;
    border-radius: 32px;
  }
  
  .form__button--add {
    width: 100%; /* El botón ocupará el 100% del ancho disponible */
    height: 3em; /* Altura basada en unidades relativas */
    font-size: 1.2em;
    background-color: #252944;
  }

  .form__button--cancel {
    background-color: #252944;
  }
  
  .form__button--save {
    background-color: #7c5df9;
  }

  .date-wrapper {
    position: relative;
  }
  
  .date-wrapper .fa-calendar {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .form__input.datepicker {
    padding-right: 30px; /* Espacio para el icono del calendario */
  }